h2 {
    color: goldenrod;
    text-align: center;
}
ul {
    padding: 10px;
    background-color: Crimson; 
    text-color: goldenrod;
    text-align: center;
    padding: 20px;
}
ul{
    color: goldenrod;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 20px 0;
    list-style: none;
}
footer {
    Background-color: crimson;
    text-Color: goldenrod;
    text-align: centered;
    padding: 15px 10px;
    font-size: 22px;
}
footer a {
    color:goldenrod;
    text-decoration: underline;
}
.social-icons { 
    disaplay: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}
.social-icons a img {
    width: 55px;
    height: auto;
}
.calendar-zone {
    color : goldenrod;
    font-family: sans-serif;
    margin-bottom: 20px;
    padding: 40px 20px;
    border-radius: 8px;
    display: flex !important;
    align-items: center;
    justify-content: center !important;
}
.calendar-zone iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 15px goldenrod;
}
.thick-bar {
    width: 100%;
    height: 20px;
    background-color: crimson;
    margin: 20px 0;
}
.image-container {
    position: relative;
    display: block;
    clear: both;
    width: 100%;
    max-width: 950px;
    margin: 40px auto;
}
.slider-frame {
    position: relative;
    width: 100%;
    height: 550px;
    border: 4px solid goldenrod;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 0 25px 5px goldenrod; 
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}
.slide.active {
 opacity: 1;
}
.contact-link {
    color: goldenrod;
    text-decoration: underlinel 
    font-family: sans-serif;
    font-size: 26px;
    display: incline-block;
    margin-top: 15px;
}
.contact-link:hover {
    color: gold
}
.band-footer {
    text-align: center;
}
.handbook-divider {
    border: 0;
    height: 2px;
    background: goldenrod;
    margin: 20px auto;
    width: 50%;
}
.handbook-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: sans-serif;
    color: goldenrod;
}
.handbook-container h2 {
    color: crimson; 
    font-size: 32px;
    margin-bottom: 10px;
}
.handbook-container h3 {
    background-color: crimson;
    color: goldenrod;
    padding: 10px 15px;
    border-radius: 4px;
    display: block;
}
.handbook-section {
    text-color: goldenrod;
}
.handbook-table {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: sans-serif;
    color: goldenrod
}
.handbook-table td {
    border: 5px solid white;
    padding: 12px;
    vertical-align: top;
    line-height: 1.4;
}
.handbook-table tr td:nth-child(1) {
  width: 20%;               
  font-weight: bold;        
}
.handbook-table tr td:nth-child(2)) {
  width: 10%;                       
}
.handbook-table tr td:nth-child(3) {
  width: 70%;              
}        
.pagination {
  display: flex;
  justify-content: center; 
  gap: 15px;               
  margin: 30px 0;          
}

.page-num {
  color: #3498db;          
  text-decoration: none;   
  font-family: sans-serif;
  font-size: 24px;         
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.2s;
}

.page-num:hover {
  color: #ffffff;
}

.page-num.active {
  color: crimson;         
  border-bottom: 2px solid goldenrod; 
}